@import url(./reset.css);


@keyframes animacaoBorda {
    50% {
        border-right: transparent;
    }
}
@keyframes animacaoTexto {
    0% {
        width: 0;
    }
}

:root {
    --fonte-alternativa:"Barlow Condensed", sans-serif;
    --fonte-secundaria:"Geo", sans-serif; 
    --cor-principal: #e70000;
}

body {
    font-family: var(--fonte-secundaria);
    background-color: #000;
    font-size: 1.2rem;
    max-width: 100%;
    min-height: 100vh;
    scroll-behavior: smooth;
}

.nav-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.img {
    width: 12vw;
    height: 22vh;
    text-align: center;
    margin: 5rem auto 2rem;
}

.img img {
    filter: grayscale(50%);
    width: 100%;
    height: 100%;
    border-radius: 50%;
    box-shadow:4px 4px 10px var(--cor-principal);
    overflow: hidden;
    object-fit: cover;
}

.textos {
    text-align: center;
    font-family: var(--fonte-secundaria);
}

.nome {
    font-size: 2.5rem;
    color: var(--cor-principal);
    padding:2rem 0 1rem 0;
    font-family: var(--fonte-secundaria);
}

.nav-container-tittle {
    font-size: 2rem;
    margin: 1rem auto;
    color: var(--cor-principal);
    border-right: 2px solid; 
    white-space: nowrap;
    width: 20ch;
    overflow: hidden;
    animation: animacaoTexto steps(20) 2.5s, animacaoBorda 0.5s linear;
} 

.nav-list {
    display: flex;
    justify-content: center;
    align-items: center;
}

.icones {
    margin:1rem 2rem;
    opacity: 0.6;
}

.icone-whats{
    width: 1.8rem;
}

.icones:hover {
    opacity: 1;
    transition: 0.4s;
}

.icone {
    color: var(--cor-principal);
    margin-right: 0.5rem;
}

.links {
   margin: 3rem 0;
}

.links-informacoes {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}

.links-informacoes li {
    margin: 0.8rem 0;
    display: flex;
    text-align: center;
    justify-content: center;
}

.link {
    text-decoration: none;
    color: var(--cor-principal);
    font-size: 1.7rem;
    font-family: var(--fonte-secundaria);
}

.link:hover {
    color: #fff;
    transition: .5s;
}

.container-projetos {
    display:flex;
    justify-content: center;
    align-items: center;
    margin: 5rem 0;
}

.projeto-nome {
    font-size: 2.5rem;
}

.projetos {
    width: 100%;
    min-height: 10vh;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: space-evenly;
}
.projeto {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 35%;
    min-height: 40vh;
    border-radius: 0.5rem;
    box-shadow: 4px 4px 20px 3px rgba(255, 0, 0, 0.2);
    margin: 0 0 3rem 0;
}

.projeto:hover {
    transform: scale(1.1);
    transition: .5s;
}

.projeto h3 {
    margin: 1.5rem 0;
    font-size: 2rem;
    color:#fff;
}

.texto-projeto {
    margin: 2.5rem 1rem;
    font-size: 1.4rem;
    color: #fff;
    font-family: var(--fonte-alternativa);
    font-weight: 500;
}

.projetos a {
    display: inline-block;
    text-decoration: none;
    padding: 0.7rem 1rem;
    background-color: #720101;
    border-radius: 16px;
    color: #fff;
    font-size: 1.3rem;
    font-weight: 700;
    margin:1rem 0 0.3rem 0;
}

.projetos a:hover {
    background-color: #fff;
    color: #720101;
    transition: 0.5s;
    padding: 1rem;
}

.sobre-mim h2 {
    text-align: center;
    font-size: 2.5rem;
}

.sobre-mim-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 1rem 1rem 5rem 1rem;
}

.sobre-mim-texto {
    font-family: var(--fonte-alternativa);
    font-weight: 500;
    width: 50%;
    color: #fff;
    margin: 1rem 0;
    font-size: 1.7rem;
}

#section-habilidades {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.titulo-habilidade{
    margin-top: 5rem;
    font-size: 2.5rem;
    color: #e70000;
}

.cards-habilidades{
    width: 70%;
    min-height: 10vh;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: space-evenly;
    margin-top: 4rem;
    gap: 4rem;
}

.card-habilidade{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 12vw;
    min-height: 17vh;
    border-radius: 0.5rem;
    box-shadow: #720101 0px 5px 18px;
}

.img-habilidade-java{
    max-width: 6rem;
}
.img-habilidade-js{
    max-width: 4rem;
    margin-top: 20px;
}

.img-habilidade {
    max-width: 5rem;
    margin-top: 20px;
}

.card-habilidade:hover{
    transform: scale(1.1);
    transition: .4s;
    opacity: .6;
}

.texto-habilidade{
    color: #fff;
    font-size: 1.5rem;
    margin-top: 1rem;
}
.texto-habilidade-js{
    margin-top: 1.7rem;
    color: #fff;
    font-size:1.5rem ;
}

.section-contato{
    display:flex;
    justify-content: center;
    align-items: center;
    margin: 2rem 0 0;
    flex-direction: column;
    height: 100vh;
}

.contato {
    color: var(--cor-principal);
    font-size: 2.5rem;
    padding: 2rem 0;
}

.formulario{
    display: flex;
    flex-direction: column;
    box-shadow: #720101 0px 5px 18px;
    width: 30vw;
    min-height: 70vh;
    border-radius: 16px;
    align-items: center;
    gap: 15px;
}

.form-input{
    display: flex;
    flex-direction: column;
    padding: .5rem 0;
}

.label-form, .label-mensagem{
    font-size: 1.6rem;
    padding: .3rem 0;
    color: var(--cor-principal);
}

.input-contato{
    padding: 1.1rem;
    width: 20vw;
    border-radius: 4px;
    border: 1px solid var(--cor-principal);
    background-color: #000;
    border: none;
    border-bottom: 1px solid var(--cor-principal);
    border-left: 1px solid var(--cor-principal);
    color: #fff;
}

.label-mensagem {
    text-align: center;
}
.input-contato::placeholder{
    color: #fff;
}

#mensagem {
    padding: 1rem;
    height: 8rem;
    width: 20rem;
    resize: none;
    border: 1px solid var(--cor-principal);
    border-radius: 6px;
    background-color: #000;
    color: #fff;
}

.btn-div{
    margin-top: 1rem;
}
.btn{
    background-color: var(--cor-principal);
    padding: .9rem 2.2rem;
    border-radius: 8px;
    border: none;
    font-size: 1.5rem;
    font-weight: 400;
    color: #fff;
    font-family: var(--fonte-secundaria);
    cursor: pointer;
}

.btn:hover{
    background-color: #fff;
    color: var(--cor-principal);
}

.rodape {
    margin-top: 8rem;
}

.rodape-container {
    text-align: center;
    padding: 2rem 0;
    position:fixed ;
    bottom: 0;
    width: 100%;
    background-color: #000;
}

.rodape-container p {
    font-family: var(--fonte-alternativa);
    font-size: 1.2rem;
    font-weight: 400;
    color: #fff;
}

.ver-mais {
    display: flex;
    align-items: center;
    justify-content: center;
}

.link-ver-mais {
    text-decoration: none;
    color: #fff;
    margin-bottom: 5rem;
    padding: 1rem 2rem;
    background-color: #720101;
    border-radius: 16px;
    font-family: var(--fonte-alternativa);
    font-weight: 600;
}

.link-ver-mais:hover{
    background-color: transparent;
    border: 2px solid #720101;
}


@media screen and (max-width:1400px) {
    .formulario{
        width: 45vw;
    }
    .input-contato{
        width: 30vw;
    }
    .btn-div{
        margin: 1rem 0;
    }
    .sobre-mim-texto{
        width: 75%;
    }
    .card-habilidade{
        width: 25%;
        height: 20vh;
    }
    .texto-habilidade{
        margin-top: .5rem;
    }
    .texto-habilidade-js{
        margin-top: .8em;
    }
    .img-habilidade{
        margin-top: 0;
        max-width: 8rem;
    }
    .img-habilidade-js{
        margin-top: .8rem;
        max-width:9rem ;
    }
    .img-habilidade-java{
        margin-top: .5rem;
        max-width: 9rem;
    }
}


@media screen and (max-width:990px) {
    .formulario{
        width: 55vw;
    }
    .input-contato{
        width: 40vw;
    }
    .btn-div{
        margin: 1rem 0;
    }
    .sobre-mim-texto{
        width: 75%;
    }
    .card-habilidade{
        width: 35%;
    }
    .projeto{
        max-width: 80%;
        min-height: 50vh;
    }
    .img {
        width: 20vw;
    }
}


@media screen and (max-width:610px) {
    .card-habilidade{
        width: 35%;
    }
    .formulario{
        width: 75vw;
    }
    .input-contato{
        width: 55vw;
    }
    .sobre-mim-texto{
       font-size: 1.4rem;
    }
    .img{
        width: 30vw;
    }
}

@media screen and (max-width:430px) {
    .texto-habilidade{
        font-size: 1.3rem;
    }
    .formulario{
        width: 95vw;
    }
    .input-contato{
        width: 75vw;
    }
    .sobre-mim-texto{
       font-size: 1.4rem;
    }
    .img{
        width: 40vw;
    }
    .texto-projeto{
        font-size: 1.3rem;
    }
    .projeto{
        max-width: 90%;
        min-height: 50vh;
    }
    .projeto h3{
        font-size: 1.5rem;
    }
    .card-habilidade{
        width: 55%;
        height: 23vh;
    }
    .texto-habilidade{
        margin-top: .5rem;
    }
    .texto-habilidade-js{
        margin-top: .8em;
    }
    .img-habilidade{
        margin-top: 0;
        max-width: 8rem;
    }
    .img-habilidade-js{
        margin-top: .8rem;
        max-width:7rem ;
    }
    .img-habilidade-java{
        margin-top: .5rem;
        max-width: 9rem;
    }
}
